In [9]:
import pandas as pd
import re
from datetime import datetime

In [27]:
data = { 
    "Title"  : ["title1", "title2", "title3", "title4"] ,
    "Invest" : [ "computer broken", "mouse stuck", "monitor broken", "no keyboard"],
    "Date"   : [ "20-10-2021", "01-01-2022", "03-05-2022", "25-06-2022"],
    "SysID"  : [ 450901, 450902, 450943, 450990 ]
}
 
df = pd.DataFrame(data)
df

    Title           Invest        Date   SysID
0  title1  computer broken  20-10-2021  450901
1  title2      mouse stuck  01-01-2022  450902
2  title3   monitor broken  03-05-2022  450943
3  title4      no keyboard  25-06-2022  450990

In [32]:
# Build a mask based on a regex pattern and a column
pattern1 = r'title2'
mask1 = df['Title'].str.contains(pattern1)

pattern2 = r'computer|monitor'
mask2 = df['Invest'].str.contains(pattern2)

my_date = datetime.strptime("01-01-2022 00:00:00", '%d-%m-%Y %H:%M:%S')

df["Date"] = pd.to_datetime(df["Date"], format="%d-%d-%Y")


mask3 = df['Date'] < my_date
mask = mask1 | mask2 | mask3

df[mask].head(10)

    Title           Invest       Date   SysID
0  title1  computer broken 2021-10-20  450901
1  title2      mouse stuck 2022-01-01  450902
2  title3   monitor broken 2022-03-05  450943